* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
main {
  text-align: center;
  margin-top: 50px;
  display: flex;
  justify-content: center;
}
.div {
  width: 40vw;
  border: 1px solid #e21b5a;
  padding: 20px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.display h1 {
  font-size: 40px;
  color: #e21b5a;
}
.btn-div {
  margin-top: 20px;
}
.btn {
  padding: 10px 20px;
  cursor: pointer;
  background-color: #e21b5a;
  border: none;
  color: #ffffff;
  font-size: 20px;
  margin-right: 10px;
}
.block {
  background-color: rgb(235, 235, 236);
  cursor: none;
}
